In [1]:
import pandas as pd  
from datetime import date
from pathlib import Path
import sys

In [2]:
HOME = Path.cwd()
PATH_TO_YELP_REVIEW_DATA = str(HOME / "data/raw/yelp_review_data_Portland_ME_2024-06-29.csv")
PATH_TO_YELP_RES_DATA = str(HOME / "data/raw/yelp_restaurant_data_Portland_ME_2024-06-29.csv")

In [5]:
PATH_TO_OT_REVIEW_DATA = str(HOME / "data/raw/open_table_review_data_Portland_ME_2024-07-20_2.csv")
PATH_TO_OT_RES_DATA = str(HOME / "data/raw/open_table_restaurant_data_Portland_ME_2024-07-20_2.csv")

In [6]:
yelp_review_df = pd.read_csv(PATH_TO_YELP_REVIEW_DATA)
open_table_review_df = pd.read_csv(PATH_TO_OT_REVIEW_DATA)

In [8]:
open_table_review_df

,Unnamed: 0,Overall,Food,Service,Ambience,review_text,hometown,datelike,name,res_name,origins
0,0,5,5,5,5,We went with our 21 month old. The staff was b...,New York City,Dined 1 day ago,JazB,Street and Co.,open_table
1,1,3,3,5,5,After not having been there in over 20 years w...,Portland,Dined 2 days ago,Mel707,Street and Co.,open_table
2,2,4,5,5,2,excellent choice of fresh seafood â¦ go for t...,San Francisco,Dined 2 days ago,mmsfo,Street and Co.,open_table
3,3,5,5,5,5,"Amazing food and atmosphere, will definitely c...",London,Dined 4 days ago,sharlott2,Street and Co.,open_table
4,4,5,5,4,4,Incredible food! Highly highly recommend! Tab...,Maine,Dined 5 days ago,OpenTable Diner,Street and Co.,open_table
...,...,...,...,...,...,...,...,...,...,...,...
395,395,5,5,5,5,Bread and Friends is my new favorite restauran...,Greater Boston,"Dined on September 11, 2023",Grebneva,Bread &amp; Friends,open_table
396,396,5,5,5,5,This was our first time here for Dinner servic...,Greater Boston,"Dined on September 8, 2023",Michael,Bread &amp; Friends,open_table
397,397,5,5,5,5,My husband and I chose Bread & Friends for our...,Nashville,"Dined on September 8, 2023",Taylor,Bread &amp; Friends,open_table
398,398,5,5,5,5,"A gem, with multiple facets: excellent food, s...",Greater Boston,"Dined on September 1, 2023",Cliff,Bread &amp; Friends,open_table
399,399,5,5,5,5,Fantastic meal! Have already been blown away b...,San Francisco,"Dined on August 25, 2023",ConnorS,Bread &amp; Friends,open_table

In [7]:
yelp_review_df.info()
open_table_review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33469 entries, 0 to 33468
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     33469 non-null  int64
 1   restaurant     33469 non-null  object
 2   reviewer_name  33469 non-null  object
 3   datelike       33469 non-null  object
 4   hometown       33456 non-null  object
 5   rating         33469 non-null  object
 6   text           33469 non-null  object
 7   origins        33469 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   400 non-null    int64
 1   Overall      400 non-null    int64
 2   Food         400 non-null    int64
 3   Service      400 non-null    int64
 4   Ambience     400 non-null    int64
 5   review_text  400 non-null    object
 6   hometown     400 non-null    object
 7   datelike     400 non-null    object
 8   name         400 non-null    object
 9   res_name     400 non-null    object
 10  origins      400 non-null    object
dtypes: int64(5), object(6)
memory usage: 34.5+ KB

In [41]:
yelp_review_df[yelp_review_df["restaurant"] == "nan"]

Empty DataFrame
Columns: [Unnamed: 0, restaurant, reviewer_name, datelike, hometown, rating, text, origins]
Index: []

In [18]:
yelp_res_df = pd.read_csv(PATH_TO_YELP_RES_DATA)
ot_res_df = pd.read_csv(PATH_TO_OT_RES_DATA)

In [19]:
yelp_res_df.info()
ot_res_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   240 non-null    int64
 1   name         239 non-null    object
 2   price_point  149 non-null    object
 3   tags         239 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       36 non-null     int64
 1   price_point      36 non-null     object
 2   cuisine          36 non-null     object
 3   description      36 non-null     object
 4   tags             33 non-null     object
 5   region           36 non-null     object
 6   restaurant_name  36 non-null     object
dtypes: int64(1), object(6)
memory usage: 2.1+ KB

In [36]:
yelp_res_df_res = yelp_res_df['name'].sort_values().unique()
ot_res_df_res = ot_res_df['restaurant_name'].sort_values().unique()

y = set(yelp_res_df_res)
x = set(ot_res_df_res)

inter = y.intersection(x)
print(inter)

for i in yelp_res_df_res:
    print(i)

{"David's Restaurant", 'The Corner Room', 'Local 188', 'The Front Room', 'Solo Italiano'}
Alto Terrace Bar + Kitchen
Anania's Variety
Andy's Old Port Pub
Angoor Wine Bar
Anoche
Artemisia Cafe
Asmara
Babas
Bake Maine Pottery Cafe
Banh Appetit
Bar Futo
Bar Publica
Bayou Kitchen 2
Bayside American Cafe
Bearded Lady's Jewel Box
Becky's Diner
BenReuben’s Knishery
Benkay Japanese Restaurant & Sushi Bar
Bird & Co
Bistro Leluco
Bite Into Maine
Black Cow
Blazes Burgers
Blyth & Burrows
Boda
Bramhall
Bread & Friends
Brickyard Hollow Brewing Company
Brookside Food And Drink
Butcher Burger
CBG Bar & Grill
Cafe Louis
Calabash
Camp Pennant
Cantina Calafia
Casita Corazon
Central Provisions
Chaval
Cheese Louise - Portland
City Farmhouse Kitchen and Bar
Clam Bar
Coals Bayside
Coffee ME Up
Congress Squared Restaurant
Continental
Coppersmith Tavern & Table
Cowbell Rock Row
Crispy Gai
Crunchy Poké
CÔNG TỬ BỘT
David's 388 - South Portland
David's Opus Ten
David's Restaurant
De Vons
DiMillo's On the Water
Diamond's Edge Restaurant & Marina
Dina’s Cuisine
Docks Seafood
Dockside Grill
Dok Mali Thai Kitchen
Duckfat
Dutch's
Eighteen95
Elsmere BBQ & Wood Grill
Empire Chinese Kitchen
Eventide Oyster Company
Evo Kitchen + Bar
Flatbread Company
Flores Restaurant
Foodie friends grocery & restaurant
Forage Market
Fore Street
Foreside Tavern & Side Bar
Free Street
Fuego
Genji Ramen
George & Leon’s
Gilbert's Chowder House
Golden Lotus Chinese Cuisine
Greeks of Peaks
Guerrero Maya Mexican Restaurant
HI BOMBAY
Harbor Bistro + Terrace
Henry's Public House
HiFi Donuts
Hot Suppa
Il Leone
Inkwell
Isa Bistro
Island Lobster Company
Izakaya Minato
J's Oyster
JP's Bistro
Jefe Juan's
Jing Yan
Keg and kraken
Knitting Nook
Kozeta's Restaurant
Kume
LB Kitchen
Lazzari
Leeward
Lenora
Little Pig
Little Tap House
Local 188
Low Key
Low Stakes Lodge
Luke's Lobster Portland Pier
MAMI PORTLAND
Magissa
Maine Oyster Company
Mainely Noods
Maiz Colombian Street Food - Forest Ave
Marcy's Diner
Mash Tun
Mazzat Restaurant
Meow Cat Lounge
Mesa Grande Taqueria
Mi Sen Noodle Bar
Mitr Ping Yang Thai Kitchen
Miyake
Mr. Tuna
N To Tail
Noble Barbecue
Nom Cafe
Nonesuch River Brewing
North43Bistro
Nosh Kitchen Bar
Nosh Taco
Novel
Nura Hummus and Falafel
O' Oysters
OTTO
Ocotillo
Old Port Noodle House
Old Port Sea Grill & Raw Bar
Olive Cafe
Other Side Diner
Oun Lido’s
Paella seafood
Pai Men Miyake
Paper City BBQ
Paper Tiger
Papi
Pattaya Kitchen
Phoever Maine Vietnamese Bar & Grill
Pizzaiolo
Po' Boys & Pickles
Port 65 Kitchen & Bar
Portland Hunt & Alpine Club
Portland Lobster Co
Porttown Public House & Coffee Bar
Quanto Basta
Quiero Cafe
Ramona's
Rathskeller On Wharf
Rebel Munchies & Libations
Red Sea Restaurant
Regards
Restaurante El Corazon
Ribollita
Rigby Yard
Rio Bravo Tacos and Tequila
Riverton Station
Roma Cafe
Room for Improvement
Rosie's
Ruski's Tavern
Saeng Thai House
Sal De La Tierra
Salt Yard Cafe & Bar
Saltwater Grille
Salvage BBQ
Scales
Schulte & Herr
Sebago Brewing Company
Shaking Crab Cajun Seafood
Sichuan Kitchen
Sicilian Table
Slab Sicilian Street Food
Smalls
Smoked Portland
SoPo Seafood Market & Raw Bar
Solo Italiano
Street & Co.
Sun Vietnamese Restaurant
Sur Lie
Taco Escobarr
Taco Trio
Tacos Del Seoul
Taj Indian Cuisine
Tally's Kitchen at Bayside
Terlingua
Thai Tree
The Armory Lounge
The Corner Room
The East Ender
The Friendly Toast - Portland
The Frog & Turtle
The Front Room
The Great Lost Bear
The Green Elephant
The Grill Room
The Highroller Lobster
The Honey Paw
The Independent Ice
The King's Head
The Knotted Apron
The Local Press
The North Point
The Porthole Restaurant & Pub
The Rusty Lantern
The Sinful Kitchen
The Thirsty Pig
The Toku Truck
The Well at Jordan's Farm
Thistle & Grouse
Tipo
Tokyo Sushi Ramen & Bar
Tomaso's Canteen
Tostones Cafe
Tres Leches Cakes Flor
Tuscan Table
Twelve
Ugly Duckling
Uncharted Tea
Union Restaurant
Via Vecchia
Vientiane Market
Volcano Restaurant Bar & Grill
Waypoint Restaurant
Wayside Tavern
Wilson County Barbecue
Woodford F & B
Yosaku
kuno
nan

In [32]:
for i in ot_res_df_res:
    print(i)

Ann's Book Bistro
Buffalo Wild Wings - South Portland
Chez Rosa
Clay Hill Farm
Cliff House - Terrace
David's 388
David's Restaurant
Earth at Hidden Pond
Eighteen95 at the Regency Hotel
Hurricane Restaurant - Kennebunkport
Isa Bistro - Portland
Kon Asian Bistro - Portland, ME
Local 188
Muddy Rudder Yarmouth
Noble Kitchen + Bar
REGARDS
Rick's Cafe
Rosella
Sea Dog Brewpub Scarborough
Shade
Solo Italiano
Stripers - Kennebunkport
The Armory Lounge at the Regency Hotel
The Burleigh
The Chart Room at Black Point Inn
The Corner Room
The Frog and Turtle
The Front Room
The Tides Beach Club
The Tiller Restaurant at Cliff House
Toscana Chop House
Trenta
Uno Pizzeria &amp; Grill - S. Portland
Via Sophia by the Sea Kennebunk ME
White Barn Inn
name_not_found