In [1]:
import pandas as pd

In [2]:
open_table_review = pd.read_csv("open_table_review_data_Portland_ME_2024-07-21.csv_CURATED.csv")
open_table_res = pd.read_csv("open_table_restaurant_data_Portland_ME_2024-07-21.csv_CURATED.csv")
yelp_review = pd.read_csv("yelp_review_data_Portland_ME_2024-06-29.csv_CURATED.csv")
yelp_res = pd.read_csv("yelp_restaurant_data_Portland_ME_2024-06-29_CURATED.csv")

In [3]:
yelp_res[yelp_res["restaurant_name"] == "monte's fine foods"]

Empty DataFrame
Columns: [Unnamed: 0, restaurant_name, city, state, price_point, tags]
Index: []

In [4]:
yelp_res["restaurant_name"].unique()

array(['thistle and grouse', 'street and co.', 'duckfat',
       'highroller lobster', 'eventide oyster company',
       'central provisions', 'scales', 'wayside tavern', 'bird and co',
       "luke's lobster portland pier", 'knotted apron', 'fore street',
       'honey paw', 'twelve', 'via vecchia', 'blyth and burrows',
       'salt yard cafe and bar', 'paper tiger', 'boda',
       'bread and friends', 'independent ice', 'evo kitchen + bar',
       'maine oyster company', 'sur lie', 'terlingua', 'leeward',
       'izakaya minato', 'solo italiano', 'crispy gai', 'quanto basta',
       'empire chinese kitchen', 'union restaurant', 'isa bistro', 'papi',
       'chaval', 'north point', 'butcher burger', 'n to tail',
       "dimillo's on the water", 'bramhall', 'smoked portland',
       'great lost bear', 'hot suppa', 'miyake', 'jing yan',
       'keg and kraken', 'quiero cafe', 'mash tun', 'thirsty pig',
       'ribollita', 'continental', 'flatbread company',
       'wilson county barbecue', 'armory lounge', 'lazzari',
       'green elephant', 'rigby yard', 'tipo', 'kume', "king's head",
       'black cow', 'woodford f and b', 'bite into maine',
       'sichuan kitchen', 'cantina calafia', 'novel',
       'dok mali thai kitchen', 'east ender', 'bar futo', 'mainely noods',
       'mi sen noodle bar', 'room for improvement', "becky's diner",
       'sopo seafood market and raw bar', 'công tử bột', 'regards',
       'mami portland', "gilbert's chowder house", 'kuno',
       'old port sea grill and raw bar', 'paella seafood', 'lenora',
       'eighteen95', 'taco escobarr', 'salvage bbq',
       'bayside american cafe', 'il leone',
       'portland hunt and alpine club', 'pai men miyake',
       'flores restaurant', 'grill room',
       'brickyard hollow brewing company', 'little tap house',
       'city farmhouse kitchen and bar',
       'maiz colombian street food - forest ave',
       'friendly toast - portland', "well at jordan's farm",
       "david's opus ten", 'nom cafe', 'thai tree',
       'harbor bistro + terrace', "jp's bistro", 'front room',
       'north43bistro', "jefe juan's", 'volcano restaurant bar and grill',
       'inkwell', 'mazzat restaurant', 'roma cafe', 'waypoint restaurant',
       'tres leches cakes flor', 'little pig', "tomaso's canteen",
       "david's restaurant", 'tuscan table',
       'porthole restaurant and pub', 'casita corazon',
       'mitr ping yang thai kitchen', 'smalls', 'low key',
       'ugly duckling', 'taco trio', 'nosh taco', 'sinful kitchen',
       'corner room', "david's 388 - south portland", 'angoor wine bar',
       'coals bayside', 'tacos del seoul',
       'benkay japanese restaurant and sushi bar', "henry's public house",
       'oun lido’s', 'old port noodle house', 'clam bar',
       'frog and turtle', 'saeng thai house', 'crunchy poké', 'de vons',
       'low stakes lodge', 'portland lobster co', 'genji ramen',
       "kozeta's restaurant", 'saltwater grille', 'red sea restaurant',
       "dutch's", 'slab sicilian street food', 'bistro leluco', 'anoche',
       "j's oyster", 'noble barbecue', 'other side diner',
       'port 65 kitchen and bar', 'ocotillo', 'local 188', 'camp pennant',
       'sun vietnamese restaurant', 'lb kitchen', 'pattaya kitchen',
       "andy's old port pub", 'sal de la tierra', 'magissa',
       'dina’s cuisine', 'cafe louis', 'local press', 'docks seafood',
       'nura hummus and falafel', 'yosaku', "marcy's diner",
       'porttown public house and coffee bar',
       'alto terrace bar + kitchen', 'toku truck', 'cbg bar and grill',
       'sicilian table', nan, 'otto', 'benreuben’s knishery',
       'nonesuch river brewing', 'brookside food and drink',
       'bar publica', 'rio bravo tacos and tequila', 'knitting nook',
       'mesa grande taqueria', 'schulte and herr',
       'restaurante el corazon', 'rusty lantern',
       'foreside tavern and side bar', 'artemisia cafe',
       'greeks of peaks', 'phoever maine vietnamese bar and grill',
       'asmara', 'cowbell rock row', "o' oysters", 'tostones cafe',
       'george and leon’s', 'cheese louise - portland',
       'nosh kitchen bar', 'blazes burgers',
       'guerrero maya mexican restaurant', 'forage market',
       'meow cat lounge', "ramona's", 'hifi donuts',
       "po' boys and pickles", 'tokyo sushi ramen and bar', 'fuego',
       'banh appetit', "anania's variety", 'paper city bbq',
       'uncharted tea', 'sebago brewing company',
       'elsmere bbq and wood grill', 'pizzaiolo', 'bayou kitchen 2',
       "rosie's", 'rebel munchies and libations',
       'golden lotus chinese cuisine', 'free street',
       "bearded lady's jewel box", 'mr. tuna',
       'coppersmith tavern and table', 'vientiane market',
       'dockside grill', 'shaking crab cajun seafood',
       "diamond's edge restaurant and marina", 'hi bombay',
       'island lobster company', 'bake maine pottery cafe',
       'foodie friends grocery and restaurant', 'calabash',
       'riverton station', 'olive cafe', 'congress squared restaurant',
       'babas', 'rathskeller on wharf', "tally's kitchen at bayside",
       'coffee me up', "ruski's tavern", 'taj indian cuisine'],
      dtype=object)

In [5]:
open_table_res

,Unnamed: 0,restaurant_name,city,state,cuisine,description,min_price,max_price,tags
0,0,street and co.,Portland,ME,Seafood,"Street and Co. is a Mediterranean, bistro styl...",31,50,"['Good for special occasions', 'Neighborhood g..."
1,1,scales,Portland,ME,Seafood,A traditional New England restaurant with mode...,31,50,"['Good for special occasions', 'Lively', 'Hot ..."
2,2,bird and co,Portland,ME,Mexican,We are a neighborhood Taco and Margarita bar. ...,0,30,"['Neighborhood gem', 'Great for outdoor dining..."
3,3,fore street,Portland,ME,Contemporary American,"Located in Portland's Old Port District, Fore...",50,200,"['Good for special occasions', 'Charming', 'Ne..."
4,4,bread and friends,Portland,ME,Farm-to-table,"Bread & Friends is a bakery and restaurant, sp...",0,30,"['Neighborhood gem', 'Good for special occasio..."
5,5,maine oyster company,Portland,ME,Oyster Bar,The Maine Oyster Company's journey began in 20...,0,30,NaN
6,6,solo italiano,Portland,ME,Italian,We currently offer in-house dining Tuesday thr...,31,50,"['Good for special occasions', 'Charming', 'Gr..."
7,7,isa bistro,Portland,ME,Bistro,Isa is a small neighborhood bistro serving ecl...,31,50,"['Neighborhood gem', 'Charming', 'Good for spe..."
8,8,n to tail,Portland,ME,Korean,N to Tail is a Korean Fusion restaurant locate...,0,30,NaN
9,9,jing yan,Portland,ME,Asian,Jing Yan is a neighborhood tavern that special...,0,30,NaN
10,11,armory lounge,Portland,ME,American,The Armory Lounge in the Portland Regency Hote...,0,30,NaN
11,12,rigby yard,Portland,ME,American,Walks In's Welcome! We reserve a portion of o...,0,30,NaN
12,13,east ender,Portland,ME,Contemporary American,Elevated Tavern Dining in an elegantly rustic ...,0,30,NaN
13,14,regards,Portland,ME,Seafood,Bringing some LA vibes to the northeast. REGA...,31,50,"['Good for special occasions', 'Innovative', '..."
14,15,grill room,Portland,ME,Steakhouse,Opened by local chef/owner Harding Lee Smith &...,50,200,"['Good for special occasions', 'Lively', 'Grea..."
15,16,little tap house,Portland,ME,Bistro,A neighborhood gastropub featuring 14 local be...,0,30,"['Charming', 'Neighborhood gem', 'Great for cr..."
16,17,david's opus ten,Portland,ME,Contemporary American,David’s Opus Ten is open during each season fo...,50,200,"['Innovative', 'Romantic', 'Good for special o..."
17,18,front room,Portland,ME,American,Due to volume we are unable to accept reservat...,0,30,"['Neighborhood gem', 'Lively', 'Good for speci..."
18,19,david's restaurant,Portland,ME,Contemporary American,A long established local favorite at the cente...,0,30,"['Good for special occasions', 'Charming', 'Ne..."
19,20,tuscan table,Portland,ME,Italian,Tuscan Table is conveniently located in South ...,0,30,NaN
20,22,corner room,Portland,ME,Italian,Established at the top of Portland's Old Port...,31,50,"['Good for special occasions', 'Lively', 'Neig..."
21,23,frog and turtle,Portland,ME,Gastro Pub,What is a gastro pub?” Gastronomy is the study...,0,30,"['Neighborhood gem', 'Great for live music', '..."
22,24,local 188,Portland,ME,Spanish,We accept reservations online or over the phon...,0,30,"['Innovative', 'Neighborhood gem', 'Good for s..."
23,25,otto,Portland,ME,Pizzeria,Pizza is simple food. But it doesn’t have to b...,31,50,"['Kid-friendly', 'Good for groups', 'Gluten-fr..."
24,26,dockside grill,Portland,ME,American,The Dockside Grill is located in the heart of ...,0,30,NaN
25,27,congress squared restaurant,Portland,ME,Contemporary American,Congress Squared Restaurant's cuisine is Conte...,0,30,NaN

In [6]:
open_table_review.head()

,Unnamed: 0,restaurant_name,datelike,reviewer_name,city,overall,food,service,ambience,review_text,origins
0,0,street and co.,2024-07-20,lisas,New York City,5,5,5,5,Amazing food. Great vibe. Good drinks. Perfect...,open_table
1,1,street and co.,2024-07-19,JazB,New York City,5,5,5,5,We went with our 21 month old. The staff was b...,open_table
2,2,street and co.,2024-07-18,Mel707,Portland,3,3,5,5,After not having been there in over 20 years w...,open_table
3,3,street and co.,2024-07-18,mmsfo,San Francisco,4,5,5,2,excellent choice of fresh seafood … go for the...,open_table
4,4,street and co.,2024-07-16,sharlott2,London,5,5,5,5,"Amazing food and atmosphere, will definitely c...",open_table

In [7]:
open_table_review[open_table_review["reviewer_name"].isna()]

,Unnamed: 0,restaurant_name,datelike,reviewer_name,city,overall,food,service,ambience,review_text,origins
3118,3508,regards,2023-03-16,NaN,Mexico City,2,3,1,3,We had one of the worst experiences in a Portl...,open_table

In [8]:
yelp_review[yelp_review["reviewer_name"].isna()]

Empty DataFrame
Columns: [Unnamed: 0, restaurant_name, datelike, reviewer_name, city, state, country, rating, review_text, origins]
Index: []

In [9]:
yelp_review.shape

(33469, 10)

In [10]:
open_table_review.shape

(6980, 11)